.messageList {
    list-style-type: none;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 88vh;
    border-width: 1px;
    border-style: solid;
    border-color: #7A9E9F;
}

.recievedLI {
    text-align: start;
}

.sentLI {
    text-align: end;
}

.sentMessage {
    background-color: #b8b8b8;
    float: right;
    display: block;
    

}

.recievedMessage {
    background-color: #FE5F55;
}

.message {
    margin: 0.5rem;
    padding: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
    max-width: 80%;
    text-align: start;
}
.messageCont {
    display: flex;
    justify-content: space-between;
}

.sentPadd {
    width: 25%;
    height: 10px;
}

.recievedPadd {
    width: 25%;
    height: 10px;
}


.vertical-line {
    border-left: 1px solid black;
    height: 100%;
    width: 1px;
    margin: 10px;
  }

  .downloadBtn {
    text-align: center !important;
  }